trigger:
  - main

pool:
  vmImage: 'macOS-latest'

stages:
  - stage: emulator
    jobs:
      - job: test
        steps:
          - task: CmdLine@2
            inputs:
                        
            -script:| 
              SIMULATOR_NAME="my-sim"
              SIMULATOR_UDID=`xcrun simctl create "$SIMULATOR_NAME"
              com.apple.CoreSimulator.SimDeviceType.iPhone-12 
              com.apple.CoreSimulator.SimRuntime.iOS-14-3`
              xcrun simctl boot $SIMULATOR_UDID
        
              node -v
              java -version
              npm install -g appium@next
              appium -v
              appium driver install xcuitest
              appium plugin install --source npm appium-device-farm

- job: tests
  displayName: Run tests
  steps:
- task: Maven@4
  inputs:
    mavenPomFile: 'pom.xml'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.11'
    mavenVersionOption: 'Default'
    mavenAuthenticateFeed: true
    effectivePomSkip: true
    sonarQubeRunAnalysis: true
    sqMavenPluginVersionChoice: 'latest'